<h1>hello <%= @current_user.username %></h1>

<div class="tasks-wrap">
  <% if @user_tasks.empty? %>
    <h3 class="welcome"><a href="/tasks/new">Create your first task</a></h3>
  <% else %>
    <% @user_tasks.each do |task| %>
      <div class="task-wrap">
        <% if task.complete %>
          <a class="done" href="/tasks/<%= task.id %>"><%= task.task %></a>
        <% else %>
          <a href="/tasks/<%= task.id %>"><%= task.task %></a>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
